{% extends "ProcesoBundle:All:layout.html.twig" %}

{% block body %}

<div class="container">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title">Procesos inactivos</h2>
      </div> <!-- /.content-header -->
    </div> <!-- /.content-container -->
      
  </div> <!-- /.content -->
</div> <!-- /.container -->

{% endblock %}