{% extends "ProcesoBundle:All:layout.html.twig" %}

{% block body %}

<div class="container" ng-app="processInactModule" ng-controller="processInactController">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title">Procesos inactivos</h2>
      </div> <!-- /.content-header -->
      <div class="row" ng-if="response.length>0">
          <div class="col-sm-8">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Listado de Procesos Inactivos</div>

                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Catidad de Actividades</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="value in response">
                    <tr>
                      <td>{[{value.nombre}]}</td>
                      <td>{[{value.numActividades}]}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      <div ng-if="response.length==0" class="alert alert-warning " role="alert">
        <strong>No hay ningun proceso inactivo en este momento</strong>
      </div>
    </div> <!-- /.content-container -->
      
  </div> <!-- /.content -->
</div> <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script type="text/javascript">
          var response = "{{ processInactive }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>
   <script src="{{ asset('bundles/proceso/js/angular/processInact/processInactModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/processInact/processInactController.js') }}"></script>

{% endblock %}