{% block footer%}
<footer class="footer">

  <div class="container">

    <div class="row" align="center">

      <div class="col-sm-12">

        <h4>Tati Software</h4>

        <p>Sistema Web para la gestión de procesos

        basado en Workflow y Técnicas Inteligentes</p>  

        <hr>    

        <p>&copy; 2016 Facultad Experimental de Ciencias y Tecnología - UC</p>

      </div> <!-- /.col -->

    </div> <!-- /.row -->

  </div> <!-- /.container -->
  
</footer>
 {% endblock footer%} 